body{
  background-color: #d4d4dc;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.main{
  margin: 0;
  padding: 20px;
  background-color: #1d1e22;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
  /* box shadow from https://getcssscan.com/css-box-shadow-examples */
}

.display-div{
  margin: 0;
  padding: 10px;
  background-color: #d4d4dc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: flex-end;
}

.digits{
  margin: 0;
  padding: 10px;
  background-color: #393f4d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
}

.first-row{
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


.second-row,
.third-row,
.fourth-row,
.fifth-row
{
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.digit{
  background-color: #feda6a;
  color: black;
  border: none;
  border-radius: 5px;
  min-height: 75px;
  min-width: 75px;
  margin: 5px;
}

.clear,
.backspace,
.divide,
.multiply,
.subtract,
.add,
.equals,
.dot,
.zero
{
  background-color: #d4d4dc;
  color: black;
  border: none;
  border-radius: 5px;
  min-height: 75px;
  margin: 5px;
}

.zero,
.backspace
{
  min-width: 160px;
}

.clear,
.divide,
.multiply,
.subtract,
.add,
.equals,
.dot
{
 min-width: 75px;
}

button{
  font-size: 20px;
}

button:active{
  background-color: blanchedalmond;
}
